div{
    width: 50%;
}
p{
    width: 50%;
    text-align: center;
    text-align-last: left;
    text-decoration: overline green dashed 5px;
}
#text{
    text-align: justify;
    text-decoration: none;
    text-indent: 30px;
    letter-spacing: 5px;
}